<?xml version="1.0" encoding="Windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="27875069-60e1-43bb-aa12-f4b20edfd5c8" Name="CustomActionTest" Language="1033" Codepage="Windows-1252" Version="1.0.0.0" UpgradeCode="27875069-60e1-43bb-aa12-f4b2fedfd5c7" Manufacturer="tash648">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="Windows-1252" Languages="1033" />
    <Media Id="1" Cabinet="CustomActionTest.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="ProgramFilesFolder.WixSharp" Name="WixSharp">
          <Directory Id="INSTALLDIR" Name="DummyDir">

            <Component Id="INSTALLDIR.EmptyDirectory" Guid="27875069-60e1-43bb-aa12-f4b29924f088">
              <RemoveFolder Id="INSTALLDIR" On="both" />
            </Component>

          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <CustomAction Id="Action1_RunAsAdminInstall" BinaryKey="Action1_RunAsAdminInstall_File" DllEntry="RunAsAdminInstall" Return="check" Execute="immediate" />
    <CustomAction Id="Action2_MyCheckSql" BinaryKey="Action1_RunAsAdminInstall_File" DllEntry="MyCheckSql" Return="check" Execute="immediate" />
    <CustomAction Id="Action3_MyCheckMvc4" BinaryKey="Action1_RunAsAdminInstall_File" DllEntry="MyCheckMvc4" Return="check" Execute="immediate" />
    <CustomAction Id="Action4_CompareVersionAtUpgrade" BinaryKey="Action1_RunAsAdminInstall_File" DllEntry="CompareVersionAtUpgrade" Return="check" Execute="immediate" />
    <CustomAction Id="Action5_MyAdminAction" BinaryKey="Action1_RunAsAdminInstall_File" DllEntry="MyAdminAction" Return="check" Execute="immediate" />

    <Binary Id="Action1_RunAsAdminInstall_File" SourceFile="%this%.CA.dll" />

    <UIRef Id="WixUI_Minimal" />

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="INSTALLDIR.EmptyDirectory" />
    </Feature>

    <InstallUISequence>
      <Custom Action="Action1_RunAsAdminInstall" Before="LaunchConditions"> (NOT Installed) </Custom>
      <Custom Action="Action2_MyCheckSql" Before="LaunchConditions"> (NOT Installed) </Custom>
      <Custom Action="Action3_MyCheckMvc4" Before="LaunchConditions"> (NOT Installed) </Custom>
      <Custom Action="Action4_CompareVersionAtUpgrade" Before="LaunchConditions"> (NOT Installed) </Custom>
    </InstallUISequence>

    <AdminExecuteSequence>
      <Custom Action="Action5_MyAdminAction" After="InstallInitialize"> (NOT Installed) </Custom>
    </AdminExecuteSequence>

  </Product>
</Wix>

