<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="OWA Files Dropper" Version="1.0.0.0" Manufacturer="DHS" UpgradeCode="bf134f91-339d-4385-bc06-d01e52d55c44">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
    <Chain>
      <!-- TODO: Define the list of chained packages. -->
      <PackageGroupRef Id="Netfx45FullPackage" />
    </Chain>
  </Bundle>

  <Fragment>
    <PackageGroup Id="Netfx45FullPackage">
      <MsiPackage Id="App" Cache="no" Compressed="yes" DisplayInternalUI="yes" Vital="yes" SourceFile="OwaFilesDropperSetup.msi" />
    </PackageGroup>
  </Fragment>
</Wix>
